#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.exp-content {
  text-align: justify;
  li {
    color: $highlighter-color;
    list-style: circle;
  }
  span {
    color: $paragraph-color;
  }
  .company-name {
    color: $highlighter-color;
  }
}
