@import "config";
@import "menu";
@import "mobile";
@import "social";
@import "about";
@import "experience";

* {
  box-sizing: border-box;
}
body {
  background: $primary-color2;
  // color: set-text-color($paragraph-color);
  color: $paragraph-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
  &.lg-heading {
    font-size: 6rem;
    color: $heading-line-color;
    margin-top: -25px;
  }
  &.sm-heading {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 3.5rem;
    // background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.hero-desc {
  letter-spacing: 0.03rem;
  text-align: justify;
  width: 72%;
  line-height: 1.5rem;
  margin: 5px 2px;
}
.text-secondary {
  color: $highlighter-color;
}
.greeting {
  color: $highlighter-color;
  font-family: $menu-font;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 4rem;
  height: 100%;
  padding: 0px 150px;
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // min-height: 100vh;
}
section {
  // margin: 0px auto;
  // min-height: 100vh;
  // padding: 60px 0px;
  min-height: 100vh;
  padding: 100px 0px;
  max-width: 1000px;
}

.section-heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  // font-size: clamp(26px,5vw,var(--fz-heading));
  white-space: nowrap;
  &::after {
    content: "";
    display: block;
    position: relative;
    top: 2px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: $highlighter-color;
  }
}
